<IfModule mod_rewrite.c>
    RewriteEngine On

    # Beállítjuk a base path-t
    RewriteBase /

    # Ha a kért fájl vagy mappa fizikailag létezik (pl. egy kép, css fájl), azt szolgálja ki
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Minden más kérést küldjünk az index.php-re
    RewriteRule ^index\.php$ - [L]
    RewriteRule . index.php [L]
</IfModule>