<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ha a kért erőforrás egy létező fájl vagy mappa, ne nyúljon hozzá
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Minden egyéb kérést az index.php-re küldünk
    RewriteRule ^ index.php [L]
</IfModule>